services:
  sadit_bot:
    build: .
    container_name: sadit_container
    network_mode: "host"
    ipc: "host"
    privileged: true
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - MESA_GL_VERSION_OVERRIDE=3.3
      - GAZEBO_MODEL_DATABASE_URI=
      # NVIDIA İÇİN ÇEVRE DEĞİŞKENLERİ (NVIDIA kullananlar '#' işaretini kaldırmalı)
      # - NVIDIA_VISIBLE_DEVICES=all
      # - NVIDIA_DRIVER_CAPABILITIES=all
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ~/.gazebo/models:/root/.gazebo/models
    devices:
      - /dev/dri:/dev/dri
    
    # NVIDIA EKRAN KARTI AYARI (NVIDIA kullananlar aşağıdaki satırların '#' işaretini kaldırmalı)
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: 1
    #           capabilities: [gpu]

    stdin_open: true
    tty: true